*.bak
*.iml
*~
.idea/
nbproject/
/vendor
/app/cache
/app/logs
/app/loaders/logs
/app/bootstrap*
/data
/web/bundles
composer.phar
/web/uploads*
/web/css
/web/js
/web/robots.txt
/web/logs
/web/img
composer.lock
